@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap");

@theme {
  /* Custom Colors */
  --color-primary: #d9ed92;
  --color-bg-main: #1f1e1d;
  --color-bg-raised: #262624;
  --color-main-text: #9c9a92;
  --color-sub-text: #a7a6a5;
  --color-stroke: #dedcd126;

  /* Font Family */
  --font-sans: "Nunito Sans", sans-serif;

  /* Font Sizes - keeping them small */
  --font-size-xs: 12px;
  --font-size-sm: 13px;
  --font-size-base: 14px;
}

@layer utilities {
  .primary-border {
    border-color: var(--color-stroke);
  }
}

body {
  @apply bg-bg-main font-sans text-base antialiased text-main-text;
}
